<div class="image-container">
    <div class="div-image-com">
      <img src="assets\imagen.png" />
    </div>
    <div class="div-component">
      <h1 class="h1-s">Para llegar te recomendamos:
        <br> <br> 
        1. Llegar al parque de Monguí
        <br>
        <a href="https://maps.app.goo.gl/a1GzmKK5rCUfhWZJA?g_st=ic"><u>¿cómo llegar?</u></a>
        <br>
        2. Luego sigue esta ruta
        <br>
        <a href="https://maps.app.goo.gl/CpjX6cGLDzVZfT1D7?g_st=iw"><u>Ruta granja Ana Candida (Duzgua)</u></a>
      </h1>
    </div>
  </div>
  