<div class="image-container">
  <div class="div-image-com">
    <img src="assets\imagen.png" />
  </div>
  <div class="div-component">
    <div>
      <h1 class="h1-f">
        El viernes <br />
        06 de octubre a las 04:00 pm <br />
        puedes conectarte <br />
        por medio de estos dos enlaces:        
      </h1>
    </div>
    <div>
      <mat-list class="list">
        <mat-list-item
          ><a
            href="https://www.facebook.com/NuestraSradeMongui?mibextid=2JQ9oc" target="_blank"
          >
            <u>Transmisión Basilica menor de nuestra señora de Monguí</u></a
          >
        </mat-list-item>
        <mat-list-item
          ><a href="https://fb.me/2aIFTjrIRXLZj4R" target="_blank">
            <u>Transmisión perspectiva novios</u></a
          >
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
